checked: <%= form_for @time_preference url: "/preferences/time/#{@time_preference.id}" method: :patch do  |f| %>

  <h3>I notice that I feel this way more often: </h3>
  <%= f.label "time[morning]", "In the morning" %>
  <%= f.check_box :time_preference, checked: @time_preference.morning ? true : false %>
  <%= f.label "time[mid-day]", "Mid-day" %>
  <%= f.check_box :time_preference, checked: @time_preference.midday ? true : false %>
  <%= f.label "time[before-bed]", "Before bed" %>
  <%= f.check_box :time_preference,checked:  @time_preference.before_bed ? true : false %>
  <%= f.label "time[random]", "Random times" %>
  <%= f.check_box :time_preference, checked: @time_preference.random ? true : false %>

  <%= f.submit 'Submit' %>

<% end %>
