<h1>Edit Media Preference</h1>

<%= form_for @media_preference url: "/preferences/media/#{@media_preference.id}", method: :patch do  |f| %>

<h3>I love looking at: </h3>
<%= f.label "media[dogs]", "Dogs" %>
<%= f.check_box :media_preference, checked: @media_preference.dogs ? true : false %>
<%= f.label "media[cats]", "Cats" %>
<%= f.check_box :media_preference, checked: @media_preference.cats ? true : false %>
<%= f.label "media[animals]", "All animals" %>
<%= f.check_box :media_preference, checked: @media_preference.animals ? true : false %>
<%= f.label "media[babies]", "Baby humans" %>
<%= f.check_box :media_preference, checked: @media_preference.babies ? true : false %>
<%= f.label "media[landscapes]", "Landscapes" %>
<%= f.check_box :media_preference, checked: @media_preference.landscapes ? true : false %>
<%= f.label "media[celestial]", "Celestial" %>
<%= f.check_box :media_preference, checked: @media_preference.celestial ? true : false %>

<%= f.submit 'Next' %>
<% end %>
